sound_recordings/accordian_playing.wav
sound_recordings/airplane_passing.wav
sound_recordings/baby_crying.wav
sound_recordings/bagpipes_playing.wav
sound_recordings/banjo_playing.wav
sound_recordings/basketball_dribbling.wav
sound_recordings/bicycle_bell_ringing.wav
sound_recordings/birds_chirping.wav
sound_recordings/blinds_opening.wav
sound_recordings/boat_horn_sounding.wav
sound_recordings/bongos_playing.wav
sound_recordings/bowling_ball_falling_rolling_hitting.wav
sound_recordings/camera_capturing.wav
sound_recordings/can_crushing.wav
sound_recordings/can_opening.wav
sound_recordings/car_crashing.wav
sound_recordings/car_horn_honking.wav
sound_recordings/cards_shuffling.wav
sound_recordings/cash_register_opening_closing.wav
sound_recordings/cat_meowing.wav
sound_recordings/chickens_clucking.wav
sound_recordings/child_coughing.wav
sound_recordings/church_bells_ringing.wav
sound_recordings/coin_dropping.wav
sound_recordings/cork_popping.wav
sound_recordings/cow_mooing.wav
sound_recordings/crickets_chirping.wav
sound_recordings/crow_cawing.wav
sound_recordings/cuckoo_clock.wav
sound_recordings/cutting_paper.wav
sound_recordings/cymbals_ringing.wav
sound_recordings/dog_barking.wav
sound_recordings/donkey_hawing.wav
sound_recordings/door_closing.wav
sound_recordings/door_knocked.wav
sound_recordings/doorbell_ringing.wav
sound_recordings/drill_drilling.wav
sound_recordings/drums_playing.wav
sound_recordings/duck_quacking.wav
sound_recordings/elephant_trumpeting.wav
sound_recordings/explosion_sounding.wav
sound_recordings/firecrackers_sounding.wav
sound_recordings/flute_playing.wav
sound_recordings/food_frying.wav
sound_recordings/frog_croaking.wav
sound_recordings/glass_breaking.wav
sound_recordings/gong_ringing.wav
sound_recordings/guitar_playing.wav
sound_recordings/gun_firing.wav
sound_recordings/hammer_hitting.wav
sound_recordings/harmonica_playing.wav
sound_recordings/harp_playing.wav
sound_recordings/helicopter_flying.wav
sound_recordings/horse_galloping.wav
sound_recordings/ice_dropping_in_glass.wav
sound_recordings/jackhammer_hammering.wav
sound_recordings/lawn_mower_starting.wav
sound_recordings/lightning_crashing.wav
sound_recordings/lion_growling.wav
sound_recordings/machine_gun_firing.wav
sound_recordings/man_laughing.wav
sound_recordings/monkey_calling.wav
sound_recordings/mosquito_flying.wav
sound_recordings/motorcycle_driving_away.wav
sound_recordings/nose_blowing.wav
sound_recordings/organ_playing.wav
sound_recordings/owl_hooting.wav
sound_recordings/pages_turning.wav
sound_recordings/paper_crumpling.wav
sound_recordings/paper_tearing.wav
sound_recordings/people_clapping.wav
sound_recordings/person_burping.wav
sound_recordings/person_chewing.wav
sound_recordings/person_clearing_throat.wav
sound_recordings/person_gargling.wav
sound_recordings/person_snoring.wav
sound_recordings/person_whistling.wav
sound_recordings/person_yawning.wav
sound_recordings/piano_playing.wav
sound_recordings/pig_oinking.wav
sound_recordings/pinball_playing.wav
sound_recordings/ping-pong_playing.wav
sound_recordings/police_siren_sounding.wav
sound_recordings/pullchain_lightswitch_switching.wav
sound_recordings/rain_falling.wav
sound_recordings/rattlesnake_rattling.wav
sound_recordings/river_gurgling.wav
sound_recordings/rooster_calling.wav
sound_recordings/sandpaper_rubbing.wav
sound_recordings/saw_sawing.wav
sound_recordings/saxophone_playing.wav
sound_recordings/seal_barking.wav
sound_recordings/sheep_bleating.wav
sound_recordings/sonar_pinging.wav
sound_recordings/stapler_stapling.wav
sound_recordings/swords_clashing.wav
sound_recordings/tea_kettle_whistling.wav
sound_recordings/telephone_ringing.wav
sound_recordings/toilet_flushing.wav
sound_recordings/toothbrush_brushing.wav
sound_recordings/train_passing.wav
sound_recordings/truck_accelerating.wav
sound_recordings/trumpet_playing.wav
sound_recordings/typewriter_typing.wav
sound_recordings/velcro_ripping.wav
sound_recordings/violin_playing.wav
sound_recordings/water_bubbling.wav
sound_recordings/water_draining.wav
sound_recordings/water_dripping.wav
sound_recordings/water_pouring.wav
sound_recordings/waves_breaking.wav
sound_recordings/whip_cracking.wav
sound_recordings/whistle_whistling.wav
sound_recordings/wind_chimes_ringing.wav
sound_recordings/wind_whistling.wav
sound_recordings/wolf_howling.wav
sound_recordings/woman_screaming.wav
sound_recordings/woman_sneezing.wav
sound_recordings/woodpecker_pecking.wav
sound_recordings/zipper_opening.wav
